    
.container__aboutUs{
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 700px;
    padding: 80px 5% 0px;
}    

.row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 30px;
    margin-bottom: 70px;

}
.info__blocks{
    display: flex;
}

.left__section > div,
.right__section > div{
    display: flex;
    flex-direction: column;
    font-family: TildaSansBold;
    font-size: 18px;
    line-height: 95%;
    cursor: pointer;
    padding: 30px;
    margin: 20px 30px 0 0;
    width: 100%;
    height: 210px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 20px 100px rgba(0,30,70,0.1);
    transition: 0.2s;
}

.left__section > div p,
.right__section > div p{
    margin-top: 15px;
}

.left__section > div:hover,
.right__section > div:hover{
    transform: scale(1.06);
}

.left__section,
.right__section{
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.left__section{
    padding-right: 10px;
}

.right__section{
    padding-top: 20px;
    padding-left: 10px;
}

.text__block-aboutUs{
    padding-left: 3em;
    width: 100%;
    max-width: 50%;
}
.text__block-text{
    font-family: TildaSansLight;
    font-size: clamp(0.75rem, 0.663rem + 0.38vw, 1.125rem);
    margin: 0 10% 0 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text__block-accent__text{
    font-family: TildaSansSemibold;
    font-size: 18px;
}

.img__container{
    width: 100%;
    height: 65%;
}

.img__container > img{
    height: 100%;
}


/* Экраны меньше 768px */
@media screen and (max-width: 1024px) {
    .text__block{
        padding-left: 0;
        max-width: 100%;
    }

    .row{
        row-gap: 30px
    }

    .left__section,
    .right__section{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    }

    .right__section{
        padding-top: 0;
    }

    .text__block-aboutUs{
        max-width: 100%;
        height: 120px;
        padding: 0;
    }
}

@media screen and (min-width: 576px){

    .left__section
    .right__section {
        max-width: 50%;
    }
    
}

@media screen and (max-width: 716px) {
    .text__block-aboutUs{
        height: 193px;
    }
}

/* Экраны меньше 425px */
@media screen and (max-width: 475px) {
    .left__section > div,
    .right__section > div {
        padding: 15px;
        height: 180px;
    }
    .left__section > div p,
    .right__section > div p,
    .text__block-accent__text{
        font-size: 14px;
        margin-top: 8px;
    }

    .img__container > img{
        height: 80%;
    }
}

/* Экраны меньше 425px */
@media screen and (max-width: 407px) {

    .left__section > div p,
    .right__section > div p,
    .text__block-accent__text{
        font-size: 12px;
    }
}

/* Экраны меньше 375px */
@media screen and (max-width: 380px) {
}