.page__nav{
    display: flex;
    position: relative;
    top: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 5%;
  }
  
  .page__nav__wrapper{
    display: flex;
    max-width: 690px;
    row-gap: 15px;
    justify-content: center;
    column-gap: clamp(2.813rem, -4.744rem + 21.59vw, 8.75rem);
    flex-wrap: wrap;
  }
  .page__nav__wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    width: 135px;
  }
  
  .water,
  .fruit__drink{
    background: top / contain url(/public/img/Ellipse__pink.svg) no-repeat; 
  }
  
  .juice,
  .smoothie,
  .sport__drink{
    background: top / contain url(/public/img/Ellipse__blue.svg) no-repeat;
  }
  
  .bottle{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 80%;
  }
  
  .img__bottle{
    height: 92%;
  }
  
  .img__bottle:hover{
    margin-bottom: 2px;
  }
  
  .section__name{
    display: flex;
    align-items: center;
    font-family: TildaSansLight;
    font-size: 15px;
    text-align: center;
    height: 20%;
  }
  
  .name:hover{
    color: var(--accent-color);
    font-size: 16px;
    transform: scale(1.1);
    font-family: TildaSansMedium;
  }
  
  
  #section__sport__drink{
    padding-bottom: 104px;
  }
  
  .catalog{
    display: flex;
    flex-direction: column;
    padding: 60px 5% 0;
    background-color: var(--secondary-fill-color);
    row-gap: 110px;
  }
  
  .catalog > section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 190px;
    margin-top: -190px;
  }
  
  .section__title{
    height: 29px;
    border-bottom: 1px solid var(--text-color);
    width: 350px;
    margin-bottom: 30px;
    
  }
  
  .title{
    font-family: TildaSansSemibold;
    color: var(--text-color);
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .product__cards{
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 325px;
    width: 223px;
  }
  
  .main__block{
    display: grid;
    grid-template: 93% / repeat(3, 33.3%);
    width: 223px;
    height: 223px;
    background-color: var(--primary-fill-color);
    margin-bottom: 15px;
    position: relative;
  }

  .main__block > img {
    opacity: 0;
  }
  
  .main__block > picture{
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .main__block__product__img{
    height: 90%;
    object-fit: contain;
  }
  
  .product__volume{
    display: flex;
    justify-content: center;
    font-family: TildaSansLight;
    font-size: 13px;
    color: #7F7F7F;
    margin-top: 15px;
  }
  
  .icon__add{
    display: flex;
    justify-content: center;
    grid-area: 2 / 3;
  }
  
  .icon__add svg > circle:hover{
    width: 33px;
    height: 33px;
    fill:  var(--accent-color);
  }
  
  .icon{
    transition: 0.2s ease;
    z-index: 1;
  }
  
  .icon:hover{
    transform: scale(1.1);
    fill:  var(--accent-color);
  }

  .link__cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .link__cover:hover .position__name{
    color: var(--accent-color) !important;
  }
  
  .volume__section{
    display: flex;
    gap: 10px;
  }
  
  
  .volume{
    border: 1px solid #7F7F7F;
    border-radius: 100px;
    padding: 5px 8px;
    font-family: TildaSansSemiBold;
    font-size: 8px;
    cursor: pointer;
  }
  
  .volume__active{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--primary-fill-color);
  }
  
  .position__name{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: TildaSansMedium;
    color: #7F7F7F;
    width: 100%;
    line-height: 13px;
    height: 27px;
    transition: 0.2s ease;
  }
  
  .product__price{
    word-wrap: normal;
    font-size: 15px;
    font-family: TildaSansSemiBold;
  }


  /* Экраны шириной больше 1600px */
@media screen and (min-width: 1600px) {
  
  .section__name{
      font-size: 17px;
  }
  
  .name:hover{
      transform: scale(1.1);
      font-size: 24px;
  }

  .page__nav__wrapper {
      max-width: 1300px;
  }


  .page__nav__wrapper > div {
      width: 280px;
      height: 385px;
  }
  .cards__products{
      gap: 80px;
  }
  .card{
      width: 490px;
      height: 600px;
  }

  .title {
    font-size: 30px;
  }
  .section__title {
    height: 45px;
  }

  .main__block{
      width: 490px;
      height: 490px;

  }
  .volume {
      padding: 6px 12px;
      font-size: 14px;
  }

  .position__name{
      font-size: 24px;
      height: 25px;
      margin-top: 10px;
  }
  .product__price {
    font-size: 18px;
    margin-top: 10px
}
  .product__volume {
    font-size: 18px;
    margin-top: 25px;
  }

  .icon {
    width: 46px;
  }
  
  .form{
      width: 470px;
  }
}

/* Экраны шириной меньше 1024px */
@media screen and (max-width: 1024px) {

  .card{
      width: 170px;
      height: 250px;
  }
  .main__block{
      width: 170px;
      height: 170px;
  }

  .product__volume{
      font-size: 10px;
  }

  .volume{
      padding: 3px 5px;
      font-size: 6px;
  }

  .position__name{
      font-size: 12px;
  }

  .product__price{
      font-size: 13px;
  }
  .icon{
      width: 25px;
  }
}

/* Экраны меньше 768px */
@media screen and (max-width: 768px) {
}

/* Экраны меньше 425px */
@media screen and (max-width: 425px) {
}

/* Экраны меньше 375px */
@media screen and (max-width: 375px) {
}