.page__nav{
    display: flex;
    position: relative;
    top: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 570px;
    margin: 0 5%;
  }
  
  .page__nav__wrapper{
    display: flex;
    max-width: 690px;
    row-gap: 15px;
    justify-content: center;
    column-gap: clamp(2.813rem, -4.744rem + 21.59vw, 8.75rem);
    flex-wrap: wrap;
  }
  .page__nav__wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    width: 135px;
  }
  
  .water,
  .fruit__drink{
    background: top / contain url(/public/img/Ellipse__pink.svg) no-repeat; 
  }
  
  .juice,
  .smoothie,
  .sport__drink{
    background: top / contain url(/public/img/Ellipse__blue.svg) no-repeat;
  }
  
  .bottle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
  }
  
  .section__link{
    display: flex;
    align-items: end;
    height: 100%;
  }

  .img__bottle{
    height: 90%;
    transition: 0.2s ease;
  }
  
  .img__bottle__hover{
    transition: 0.2s ease;
    height: 90%;
    transform: scale(1.05);
    margin-bottom: 2px;
  }

  .section__name{
    display: flex;
    width: max-content;
    align-items: center;
    font-family: TildaSansLight;
    font-size: clamp(0.75rem, 0.663rem + 0.38vw, 1.125rem);
    text-align: center;
    height: 20%;
  }

  .name{
    transition: 0.3s ease;
  }

  .name__hover{
    width: 180px;
    color: var(--accent-color);
    transform: scale(1.1);
    font-family: TildaSansMedium;
    transition: 0.2s ease;
  }
  
  
  #section__sport__drink{
    padding-bottom: 104px;
  }
  
  .catalog{
    display: flex;
    flex-direction: column;
    padding: 60px 5% 0;
    background-color: var(--secondary-fill-color);
    row-gap: 110px;
  }
  
  .catalog > section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 190px;
    margin-top: -190px;
  }
  
  .section__title{
    height: 29px;
    border-bottom: 1px solid var(--text-color);
    width: 350px;
    margin-bottom: 30px;
    
  }
  
  .title{
    font-family: TildaSansSemibold;
    color: var(--text-color);
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .product__cards{
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    width: clamp(11.875rem, 0.714rem + 17.42vw, 18.125rem);
  }
  
  .main__block{
    display: grid;
    grid-template: 93% / repeat(3, 33.3%);
    width: clamp(11.875rem, 0.714rem + 17.42vw, 18.125rem);
    height: clamp(11.875rem, 0.714rem + 17.42vw, 18.125rem);
    background-color: var(--primary-fill-color);
    margin-bottom: 30px;
    position: relative;
  }

  .main__block > img {
    opacity: 0;
  }
  
  .main__block > picture{
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .main__block__product__img{
    height: 90%;
    object-fit: contain;
  }
  
  .product__volume{
    display: flex;
    justify-content: center;
    font-family: TildaSansLight;
    font-size: 13px;
    color: #7F7F7F;
    margin-top: 15px;
  }
  
  .icon__add{
    display: flex;
    justify-content: center;
    grid-area: 2 / 3;
    position: relative;
    top: -8px;
  }
  
  .icon{
    cursor: pointer;
    transition: 0.2s ease;
    z-index: 1;
    width: 40px;
  }
  
  .icon:hover{
    transform: scale(1.1);
    fill:  var(--accent-color);
  }

  .link__cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .position__name__hover{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: TildaSansMedium;
    line-height: 110%;
    color: var(--accent-color);
    width: 100%;
    transition: 0.2s ease;
    margin: 8px 0;
    transform: scale(1.03);
  }
  
  .volume__section{
    display: flex;
    gap: 10px;
    margin: 0 0 7px;
  }
  
  .volume,
  .volume__single__volume-btn{
    border: 1px solid #7F7F7F;
    border-radius: 100px;
    padding: 5px 10px;
    font-family: TildaSansSemiBold;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .volume:hover{
    transform: scale(1.12);
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  .volume:not(.active){
    border-color: var(--accent-color);
    color: var(--accent-color);
  }

  .volume__single__volume-btn{
    cursor: default;
    border-color: #a1a1a1;
    color: #a1a1a1;
  }
  
  .position__name{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: TildaSansMedium;
    color: #7F7F7F;
    width: 100%;
    line-height: 110%;
    transition: 0.2s ease;
    margin: 8px 0;
  }
  
  
  .price__block{
    display: flex;
    flex: 1;
    align-items: end;
    margin: 7px 0 0;
  }

  .discounted__price{
    margin-right: 30px;
    font-size: 18px;
    font-family: TildaSansSemiBold;
  }

  .outdated__price::before{
    content: '';
    width: 100%;
    top: 50%;
    left: 0;
    border: 1px solid #7F7F7F;;
    position: absolute;
  }

  .product__price,
  .outdated__price{
    position: relative;
    word-wrap: normal;
    font-size: 18px;
    font-family: TildaSansSemiBold;
  }

  .outdated__price{
    padding: 0 8px;
    color: #7F7F7F;
  }


  @media screen and (min-width: 1800px){
  .page__nav__wrapper {
    max-width: 1100px;
  }
  .page__nav__wrapper > div {
    width: 180px;
    height: 285px;
  }

  .card{
    width: 310px;
  }

  .main__block{
    width: 310px;
    height: 310px;
  }

  .title {
    font-size: 28px;
  }
  .section__title {
    height: 45px;
  }

  .volume,
  .volume__single__volume-btn {
    padding: 5px 14px;
    font-size: 12px;
  }
  
  .position__name{
    font-size: 20px;
  }

  .position__name__hover{
    font-size: 20.1px;
  }

  .product__volume {
    font-size: 14px;
    margin-top: 25px;
  }
}

  /* Экраны шириной больше 1600px */
  @media screen and (min-width: 1600px) and (max-width: 1799px) {
  
  .section__name{
      font-size: 18px;
  }

  .page__nav__wrapper {
      max-width: 1000px;
  }

  .page__nav__wrapper > div {
    width: 150px;
    height: 255px;
  }

  .cards__products{
      gap: 80px;
  }

  .card{
    width: clamp(18.125rem, -19.563rem + 37.69vw, 22.813rem);
} 

  .volume,
  .volume__single__volume-btn {
    padding: 6px 14px;
    font-size: 14px;
  }

  .main__block{
    width:clamp(18.125rem, -19.563rem + 37.69vw, 22.813rem);
    height: clamp(18.125rem, -19.563rem + 37.69vw, 22.813rem);
  }

  .product__volume {
    font-size: 18px;
    margin-top: 25px;
  }

  .icon {
    width: 36px;
  }
  
  .form{
      width: 470px;
  }
}

/* Экраны шириной меньше 1024px */
@media screen and (max-width: 1024px) {
  .product__cards {
    gap: 30px;
  }
  .card{
      width: clamp(9.375rem, 5.591rem + 7.87vw, 10.625rem);
  }
  .main__block{
      width: clamp(9.375rem, 5.591rem + 7.87vw, 10.625rem);
      height: clamp(9.375rem, 5.591rem + 7.87vw, 10.625rem);
  }

  .product__volume{
      font-size: 10px;
  }

  .volume,
  .volume__single__volume-btn{
    padding: 5px 9px;
    font-size: 7px;
  }

  .position__name{
      font-size: 16px;
  }

  .product__price,
  .outdated__price,
  .discounted__price {
      font-size: 16px;
  }
  .icon{
      width: 32px;
  }
}

@media screen and (max-width: 880px) {
  .position__name,
  .product__price,
  .outdated__price,
  .discounted__price {
    font-size: 14px;
  }
    .icon {
    width: 26px;
  }
}

/* Экраны меньше 768px */
@media screen and (max-width: 560px) {
  .page__nav__wrapper > div {
    height: 170px;
    width: 95px;
}
}

/* Экраны меньше 425px */
@media screen and (max-width: 425px) {
  .volume__section,
  .product__price{
    gap: 6px;
    margin: 0 0 5;
  }
  .volume,
  .volume__single__volume-btn{
    padding: 4px 8px;
    font-size: 6px;
  }
  .page__nav__wrapper > div {
    height: 155px;
    width: 80px;
  }

  .section__title {
    height: 30px;
    width: 220px;
    margin-bottom: 25px;
  }

  .title {
    font-size: 18px;
  }

  .product__cards {
    column-gap: 20px;
    row-gap: 38px;
    padding-bottom: 0;
  }

  .card{
    width: 155px;
    height: auto;
  }
  
  .main__block{
    width: 155px;
    height: 155px;
    margin-bottom: 25px;
  }
  .icon__add {
    display: flex;
    justify-content: center;
    grid-area: 2 / 3;
    position: relative;
    top: -5px;
  }
  .icon {
    width: 30px;
  }
  .position__name{
    margin: 6px 0;
  }
  .position__name,
  .product__price,
  .outdated__price,
  .discounted__price {
    font-size: 12px;
}
}

/* Экраны меньше 375px */
@media screen and (max-width: 375px) {
  .catalog > section {
    padding-top: 150px;
    margin-top: -150px;
  }

  .page__nav__wrapper {
    max-width: 390px;
  }

  .page__nav__wrapper > div {
    height: 140px;
    width: 65px;
  }

  .section__title {
    height: 30px;
    width: 220px;
    margin-bottom: 25px;
  }
  .title {
    font-size: 18px;
  }

  .product__cards {
    gap: 20px;
    padding-bottom: 0;
  }

  .card{
    width: 130px;
  }
  
  .main__block{
    width: 130px;
    height: 130px;
  }

}