*{
  margin: 0;
  padding: 0;
}

.u-form-horizontal {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-grow: 1;
}

.u-form-email,
.u-form-name,
.u-form-submit{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 68px;
  padding-left: 30px;
}

.u-message{
  resize: none;
}

.u-form-message{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-left: 30px;
  height: 165px;
}

.u-input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  border-width: 0;
  border-bottom: 1px solid var(--text-color);
  transition: all 0.2s ease;
}


.u-label {
  color: #7F7F7F;
  font-size: 20px;
  font-family: TildaSansMedium;
  padding: 0 10px;
  transform: translateY(35px);
  transition: all 0.2s ease;
}

.u-input:focus {
  outline: 0;
  border-bottom: 1.5px solid var(--accent-color);
}

.u-input:focus + .u-label{
    transform: translateY(-1px);
    font-size: 16px;
    outline: 0;
    padding: 0;
    border-color: var(--accent-color);
    color: var(--accent-color);
}


.u-form-vertical {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.u-form-vertical.u-form-spacing-30,
.u-form-vertical.u-form-spacing-30 .u-form-step {
  margin-left: -30px;
  width: calc(100% +  30px);
}

.u-form-vertical.u-form-spacing-30 .u-form-group,
.u-form-vertical.u-form-spacing-30 .u-form-step .u-form-group {
  margin-bottom: 30px;
}
/* .u-form-vertical.u-form-spacing-30 .u-form-group:not(.u-image):not(.u-form-progress),
.u-form-vertical.u-form-spacing-30 .u-form-step .u-form-group:not(.u-image):not(.u-form-progress) {
  padding-left: 30px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 68px;
} */
.u-form-vertical.u-form-spacing-30 .u-form-group.u-image,
.u-form-vertical.u-form-spacing-30 .u-form-step .u-form-group.u-image {
  margin-left: 30px !important;
}
.u-form-vertical.u-form-spacing-30 .u-form-group.u-form-line,
.u-form-vertical.u-form-spacing-30 .u-form-step .u-form-group.u-form-line {
  margin-left: 30px;
}

.u-form-vertical .u-form-group {
  width: 100%;
}
.u-form-vertical .u-form-partition-factor-10 {
  width: 10%;
}
.u-form-vertical .u-form-partition-factor-9 {
  width: 11.11111111%;
}
.u-form-vertical .u-form-partition-factor-8 {
  width: 12.5%;
}
.u-form-vertical .u-form-partition-factor-7 {
  width: 14.28571429%;
}
.u-form-vertical .u-form-partition-factor-6 {
  width: 16.66666667%;
}
.u-form-vertical .u-form-partition-factor-5 {
  width: 20%;
}
.u-form-vertical .u-form-partition-factor-4 {
  width: 25%;
}
.u-form-vertical .u-form-partition-factor-3 {
  width: 33.33333333%;
}
.u-form-vertical .u-form-partition-factor-2 {
  width: 50%;
}
.u-form-vertical .u-form-partition-factor-1 {
  width: 100%;
}

@media (max-width: 575px) {
  .u-form-vertical .u-form-group {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .u-form-vertical .u-form-group.u-label-left {
    display: block;
  }
}




@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-bottom-md {
    justify-content: flex-end;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-bottom-sm {
    justify-content: flex-end;
  }
}
@media (max-width: 575px) {
  .u-valign-bottom-xs {
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  :not(.u-sheet) > [class*="u-gutter-"]:not(.u-gutter-0).u-expanded-width {
    overflow: hidden;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout {
    margin-left: 0;
    margin-right: 0;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
    border-left: 0;
    border-right: 0;
  }
  .u-absolute-hcenter,
  .u-absolute-hcenter-sm {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
    margin-left: 0;
    margin-right: 0;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
    border-left: 0;
    border-right: 0;
  }
  .u-absolute-hcenter,
  .u-absolute-hcenter-xs {
    max-width: 100%;
  }
}

.u-layout-row > .u-size-30 {
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 50%;
}
.u-layout-col > .u-size-30 {
  flex: 30 0 auto;
}

.u-layout-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}


.u-svg-link {
  width: 100%;
  height: 100%;
}
.u-svg-content {
  width: 0;
  height: 0;
}
.u-file-icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.u-social-icons {
  display: flex;
}

.u-repeater {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}
.u-list-control.has-categories-listbox.has-sorting,
.u-list-control.has-pagination.has-categories-listbox,
.u-list-control.has-pagination.has-sorting {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  align-items: center;
  grid-template-columns: calc(33.3333%) calc(33.3333%) calc(33.3333%);
}

 .u-section-1 {
  padding-top: 80px;
  background-image: none;
  min-height: 885px;
}

.u-section-1 .u-shape-1 {
  position: relative;
  background-color: var(--first-complemetary-color);
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -149px auto 0;
}

.u-section-1 .u-repeater-1 {
  position: relative;
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 251px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-4{
  background-color: #fff;
  border-radius: 20px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1, 
.u-section-1 .u-container-layout-2, 
.u-section-1 .u-container-layout-3, 
.u-section-1 .u-container-layout-4,
.u-section-1 .u-container-layout-5,
.u-section-1 .u-container-layout-6{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-2,
.u-section-1 .u-icon-3,
.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  font-family: TildaSansLight;
  font-size: 18px;
  margin: 0 auto;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-3,
.u-section-1 .u-text-5,
.u-section-1 .u-text-7{
  text-align: center;
  text-transform: uppercase;
  font-family: TildaSansBold;
  font-size: 20px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-4,
.u-section-1 .u-text-6,
.u-section-1 .u-text-8 {
  text-align: center;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border: 0px;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 23px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-1 .u-form-1 {
  margin: 0;
}

.u-section-1 .u-btn-2 {
  display: flex;
  justify-content: center;
  padding: 19px 130px;
  background: var(--accent-color);
  border-radius: 100px;
  color: var(--primary-fill-color);
  font-family: TildaSansMedium;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.u-section-1 .u-text-9 {
  font-family: TildaSansBold;
  font-size: 60px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  line-height: 1.8;
  font-style: italic;
  font-size: 18px;
  font-family: TildaSansMedium;
}

.u-section-1 .u-text-11 {
  line-height: 1.2;
  font-size: 18px;
  font-family: TildaSansLight;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  gap: 20px;
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 224px;
  min-width: 124px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

@media (min-width: 1600px){
  .u-section-1 {
    padding-top: 100px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 902px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-1 .u-container-layout-1,
  .u-section-1 .u-container-layout-2{
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-1 .u-text-9 {
    font-size: 39px;
    margin-right: 0;
  }
  .u-section-1 .u-text-10 {
    font-size: 16px;
}

.u-section-1 .u-text-11 {
  font-size: 16px;
}

.u-section-1 .u-social-icons-1 {
  margin: 34px auto 0 0;
}
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1177px;
  }

  .u-section-1 .u-shape-1 {
    height: 462px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -392px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 494px;
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-1 .u-container-layout-1,
  .u-section-1 .u-container-layout-2{
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 30px;
    margin-bottom: -13px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    padding-top: 60px;
    min-height: 1887px;
  }

  .u-section-1 .u-shape-1 {
    height: 896px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -826px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1,
  .u-section-1 .u-container-layout-2{
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2091px;
  }

  .u-section-1 .u-shape-1 {
    height: 930px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -860px;
  }

  .u-section-1 .u-container-layout-1,
  .u-section-1 .u-container-layout-2{
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -295px;
    margin-left: calc(((100% - 340px) / 2));
  }
}