.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5% 0;
  }
  
  .main__info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 0;
  }
  
  .first__block{
    display: flex;
    align-items: center;
    width: 20%;
  }
  
  .first__block > img {
    width: 100%;
  }
  
  .second__block{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  
  .second__block__text,
  .third__block__text{
    font-family: TildaSansLight;
    font-size: 18px;
  }

  .second__block__text:hover{
    color: var(--accent-color);
  }

  
  .third__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .third__block__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .block__title{
    font-family: TildaSansBold;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--accent-color);
  }
  
  .phone__number,
  .e-mail,
  .working__hours{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .social__media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .social__media__icons__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 15px;
  }
  
  .form{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 380px;
  }
  
  .email__field{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 68px;
  }
  
  .email__wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .email__input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    border-width: 0;
    border-bottom: 1px solid var(--text-color);
    transition: all 0.2s ease;
  }
  
  .email__label {
    left: 15px;
    color: #7F7F7F;
    font-size: 20px;
    font-family: TildaSansMedium;
    padding: 0 10px;
    transform: translateY(35px);
    transition: all 0.2s ease;
  }
  
  .email__input:focus {
    outline: 0;
    border-bottom: 1.5px solid var(--accent-color);
  }
  
  .email__input:focus + .email__label{
    transform: translateY(-1px);
    font-size: 14px;
    outline: 0;
    padding: 0;
    border-color: var(--accent-color);
    color: var(--accent-color);
  } 
  
  .checkbox__input{
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    opacity: 0;
  } 
  
  .checkbox__input + .checkbox__label::before{
    content: '';
    display: inline-block;
    padding: 5px;
    border-radius: 100px ;
    border: 1px solid var(--accent-color);
  
  } 
  
  .checkbox__input:checked+.checkbox__label::before{
    background-color: var(--accent-color);
  } 
  
  .checkbox__label__text{
    font-family: TildaSansLight;
    font-size: 16px;
    padding-left: 15px;
  }
  
  .accent__text{
    color: var(--accent-color);
  }
  
  .form__button {
    padding: 19px 0;
    width: 100%;
    border-width: 0;
  }
  
  .text__button{
    padding: 19px 130px;
    background: var(--accent-color);
    border-radius: 100px;
    color: var(--primary-fill-color);
    font-family: TildaSansMedium;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  
  
  .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    border-top: 1px solid var(--accent-color);
    width: 100%;
    font-family: TildaSansLight;
    font-size: 12px;
  }



  @media screen and (min-width: 1800px) {}
  @media screen and (min-width: 1600px) {
    .block__title{
      font-size: 24px;
    }
    .second__block__text, .third__block__text{
      font-size: 22px;
    }

    .phone__number > svg,
    .e-mail > img,
    .working__hours > svg {
      width: 32px;
      height: 32px;
    }
    .copyright,
    .checkbox__label__text{
      font-size: 18px;
    }
    .email__label{
      font-size: 22px;
    }
  }

  @media screen and (max-width: 425px) {
    .form{
      display: none;
    }
  }