.product__swiper{
    font-family: TildaSansSemiBold;
    font-size: 25px;
}

.product__swiper > p{
    padding: 0 5px;
}

.swipe__potentials{
    height: 160px;
    padding: 20px 5px !important;
    width: 100%;
}

.potential__choices{
    display: flex !important;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8.8px rgba(0, 0, 0, 0.15);
    padding: 10px 21px;
}

.potential__choices__img{
    height: 100%;
}

.potential__choices__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 18px;
    height: 80%;
}

.potential__choices__info-name{
    font-size: 12px;
    font-family: TildaSansSemibold;
    margin-bottom: 5px;
    line-height: 100%;
}

.potential__choices__info-volume{
    font-size: 10px;
    font-family: TildaSansLight;

}

.potential__choices__info-price{
    font-size: 10px;
    font-family: TildaSansSemibold;
}



.add__to__cart-btn{
    width: 100%;
    padding: 25px;
    margin: 50px 0;
    border-radius: 20px;
}

@media screen and (min-width: 1800px){
    .swipe__potentials {
        height: 210px;
        padding: 20px 5px;
        width: 100%;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1799px){
    .swipe__potentials {
        height: 210px;
        padding: 20px 5px;
        width: 100%;
    }
}
