.product__swiper{
    font-family: TildaSansSemiBold;
    font-size: clamp(1.25rem, 1.182rem + 0.34vw, 1.563rem);
}

.product__swiper > p{
    padding: 0 5px;
}

.swipe__potentials{
    height: 160px;
    padding: 20px 5px !important;
    width: 100%;
}

.potential__choices{
    display: flex !important;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8.8px rgba(0, 0, 0, 0.15);
    padding: 10px 21px;
}

.potential__choices:hover{
    transform: scale(1.4);
}

.potential__choices__img{
    height: 100%;
}

.potential__choices__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 18px;
    height: 80%;
}

.potential__choices__info-name{
    font-size: clamp(0.75rem, 0.723rem + 0.14vw, 0.875rem);
    font-family: TildaSansSemibold;
    margin-bottom: 5px;
    line-height: 100%;
}

.potential__choices__info-volume{
    font-size: clamp(0.75rem, 0.723rem + 0.14vw, 0.875rem);
    font-family: TildaSansLight;

}

.potential__choices__info-price{
    font-size: 10px;
    font-family: TildaSansSemibold;
}

.switch__to__product{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    cursor: pointer;
}

.add__to__basket {
    position: absolute;
    bottom: 10px;
    right: 21px;
    cursor: pointer;
    transition: 0.2s ease;
}

.add__to__basket:hover{
    transform: scale(1.1);
}


@media screen and (min-width: 1799px){
    .swipe__potentials {
        height: 210px;
        padding: 20px 5px;
        width: 100%;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1799px){
    .swipe__potentials {
        height: 210px;
        padding: 20px 5px;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .product__swiper > p{
        font-size: clamp(1.25rem, 1.027rem + 1.12vw, 1.563rem)
    }
}