
.container{
    position: relative;
    height: 100vh;
    padding: 80px 5% 0px;
}

.product__image__section{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 56.5%;
    background-color: #FA903F;
    z-index: 3;
}

.product__image__wrapper  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}                


.img__product__page{
    height: 70%;
    filter: drop-shadow(-12px 9px 15.2px rgba(0, 0, 0, 0.15));
}

.product__info__section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%;
    left: 50%;
    width: 40%;
    row-gap: 20px;
}

.product__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__section__title{
    font-size: 40px;
    font-family: TildaSansExtraBold;
    text-transform: uppercase;
    line-height: 100%;
}

.ingredients,
.product__description{
    font-family: TildaSansLight;
    font-size: clamp(0.75rem, 0.663rem + 0.38vw, 1.125rem)
}

.ingredients{
    margin: 5px 0 20px;
}

.product__description{
    margin: 15px 0 27px;
}

.line__volume{
    display: flex;
    gap: 15px;
}

.volumes{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 20px;
    border: 1px solid #7F7F7F;
    border-radius: 50px;
    font-family: TildaSansLight;
    font-size: clamp(0.75rem, 0.663rem + 0.38vw, 1.125rem);
    cursor: pointer;
    transition: 0.16s ease;
}

.volumes:hover{
    transform: scale(1.05);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.volumes:not(.active) {
    transform: scale(1.05);
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.price__star__rating__container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7F7F7F;
    border-top: 1px solid #7F7F7F;
    padding: 10px 21px;
    margin: 0 0 23px;
}

.price,
.star__rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price{
    gap: 20px;
}

.star__rating{
    gap: 10px;
}

.btn__cart__add{
    border-radius: 100px;
    padding: 17px;
    background-color: var(--text-color);
    cursor: pointer;
    border: 0;
    color: white;
    transition: 0.2s ease;
    
}

.btn__cart__add:hover{
    background-color: var(--accent-color);
}
